@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Roboto&display=swap');

:root {
    --color1: #F24162;
    --color2: #D90467;
    --color3: #F2D6B3;
    --color4: #F2B1A2;
    --color5: #0D0D0D;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

video {
    /* object-position: 50% 50%;*/
    object-fit: cover;
    width: 100%;
    overflow-clip-margin: content-box;
    overflow: clip;
}

header {
    background-color: var(--color4);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

nav ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}



nav ul li a {
    display: block;
    color: black;
    margin: 0.5rem;
    text-decoration: none;
}

main section#presentation {
    margin: 1rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

main section#presentation h1 {
    font-size: 32px;
    width: 100%;
    text-align: center;

}

main section#presentation p {
    width: 100%;
    text-align: justify;
    font-size: large;
}

main section#presentation img {
    margin: 1rem;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

main section#produit {
    margin: 1rem;
    text-align: center;
}

main section#produit div.grid-container {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 20px;
}

main section#produit div.grid-container div.grid-item {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    height: fit-content;
    width: fit-content;
}

main section#produit div.grid-container div.grid-item img {
    width: 100%;
    object-fit: contain;
}

main section#produit div.grid-container div.grid-item p {
    margin: 1rem;
}


main section#contact {
    background-color: var(--color3);
    padding: 0.5rem;
    color: black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr;
    grid-gap: 10px;
}


main section#contact div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

main section#contact div form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 10px;


}

main section#contact form label {
    width: 100%;
    font-weight: bold;
}

main section#contact form input,
main section#contact form textarea {
    margin: 10px 0px;
    padding: 10px;
}

main section#contact form button {
    background-color: var(--color1);
    border-radius: 8px;
    color: white;
    width: 100%;
    padding: 10px 0px;
    cursor: pointer;
    margin: 10px 0px;
}

main section#contact form button:hover {
    background-color: #ddd;
}


main section#contact div#map iframe {
    height: 600px;
    width: 100%;
}



footer {
    background-color: var(--color4);
    display: flex;
    justify-content: center;
}

#scrollToTop {
    background-color: black;
    border-radius: 50%;
    position: fixed;
    bottom: 20%;
    right: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#scrollToTop svg {
    fill: white;
}


@media screen and (min-width: 768px) {

    /* Styles pour les tablettes */
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    main section#presentation {
        flex-direction: row;

    }

    main section#presentation img {
        margin: 1rem;
        object-fit: cover;
        max-width: 50%;
        max-height: 50%;
    }

    main section#produit div.grid-container {

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 20px;
    }

    main section#contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 10px;
    }

}

@media screen and (min-width: 992px) {

    /* Styles pour les PC */
    main section#produit div.grid-container {

        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 20px;
    }

    main section#presentation p {
        font-size: x-large;
    }

}